html {
  height: 100%;
  width: 100%;
}
body{
  background-color: rgb(249, 247, 201);
}
.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo p{
  font-size: 60px;
  text-align: center;
  color: #80bcbd;
  font-weight: bold;
}
.ima{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ima img{
  height:300px
}
.link{
  display: flex;
  align-items: center;
  justify-content: center;
}
.link p{
  font-size: 20px;
  text-align: center;
  color:#498340;
  }
.conten1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.conten1 p{
 font-size: 20px;
  text-align: justify;
  color: #80bcbd;
  line-height: 2.0;
  margin: 20px;
}
conten1 img{
  height: 300px;
  margin: 20px;
}
.conten1 ul{
 font-size: 20px;
  text-align: justify;
  color: #80bcbd;
  line-height: 2.0;
  margin: 20px;
}